Potato_plant_disease/training/data/*/*

happy_sad_WEbImg/data/happy/*
happy_sad_WEbImg/data/sad/*

real_time_face_tracking/data/images
real_time_face_tracking/data/labels

real_time_face_tracking/augment_data/test/images
real_time_face_tracking/augment_data/test/labels
real_time_face_tracking/augment_data/train/images
real_time_face_tracking/augment_data/train/labels
real_time_face_tracking/augment_data/val/images
real_time_face_tracking/augment_data/val/labels

real_time_face_tracking/data/test/images
real_time_face_tracking/data/test/labels
real_time_face_tracking/data/train/images
real_time_face_tracking/data/train/labels
real_time_face_tracking/data/val/images
real_time_face_tracking/data/val/labels
real_time_face_tracking/facetracker.h5
